* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-touch-action: none;
}

body,ul,li {
	padding: 0;
	margin: 0;
	border: 0;
}
ul,li{
	list-style: none;
}
body {
	font-size: 14px;
	font-family: ubuntu, helvetica, arial;
	overflow: hidden; /* this is important to prevent the whole page to bounce */
}

#mainContent{
	height:100%;
	background:url(../images/true4.jpg) no-repeat top left;
	background-size: 100%;
}
#header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background:url(../images/titleBg.jpg) repeat top left;
	padding: 0;
	color: #eee;
	font-size: 20px;
	font-weight: bold;

}
#headerX{
	display: flex;	
}
#back{
	padding:10px;
}
.header-1{
	flex:1;
	margin:0;
}
#back img{
	width:26px;
}

#set{
	width:100px;
	color:#333;
	display:none;	
}
.header-2 #set p{
	background:#666;
	width:100px;
	height:30px;
	font-size:18px;
	margin:0;
	text-align:center;
	line-height: 30px;
}
#footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background:#444;
	padding: 0;
	border-top: 1px solid #444;
	
	
}
#footerX{
	display: flex;
	justify-content:center;
	align-items:center;
}
#footerX .button{
	flex:1;
	text-align:center;
	color:#FFF;
}
.button img{
	width:26px;
}
#wrapper {
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 100%;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}


#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

#scroller li{
	padding: 0 15px;
	line-height: 30px;
	margin-bottom:15px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	font-size: 16px;	
	background:rgba(245,245,245,.5);
}
#scroller li span{
	font-size: 16px;
	display:inline-block;	
}
#scroller .interesting{
	display: flex;
}
.img,.interesting p{
	flex:1;
}
.company{
	text-align:center;
	font-size:20px;
	font-weight:600;
	background:rgba(247,247,167,0.5);
	height:35px;
	line-height:35px;
}
.company span{
	font-size:16px;
	font-weight:100;
	color:#666;	
	margin-left:20px;
}
.pic1{
	display:flex;
	justify-content:center;
}
#scroller li img{
	width:260px;
	height:150px;	
}
dl{
	display:flex;
}

#scroller .interesting img{
	width:100px;
	height:100px;
	border-radius: 50%;	
}